@model UserSignup.Models.User

<table class="table">
    <tr>
        <td>Username:</td>
        <td>@Model.Username</td>
    </tr>

    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <td>Joined:</td>
        <td>@Model.JoinTime</td>
    </tr>

</table>

